{
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-webpack-alias",
        "transform-decorators-legacy",
        "transform-class-properties",
        "syntax-dynamic-import",
        "transform-async-to-generator"
      ],
      "presets": ["react-optimize", "env", "react", "airbnb"]
    },
    "test":{
      "presets": ["es2015", "react"],
      "plugins": ["syntax-dynamic-import", "transform-class-properties"]
    },
    "development": {
      "plugins": [
        "babel-plugin-webpack-alias",
        "transform-decorators-legacy",
        "transform-class-properties",
        "syntax-dynamic-import"
      ],
      "presets": ["env","react", "airbnb"]
    }
  }
}
