.ev__boiler-plate {
  &__main-container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  &__inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    object-fit: contain;
    width: 100px;
  }

  &__adder {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
  }

  &__plate {
    height: 300px;
    object-fit: contain;
  }
}